body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  margin: 40px;
}

.links a {
  margin: 10px 2px;
  border: 2px solid blue;
  border-radius: 5px;
  padding: 10px;
  background-color: blue;
  color: aliceblue;

}

.welcome-page {
  padding: 20px;
  border-radius: 5px;
  margin: 20px;
  text-align: justify;
}

.main-page {
  margin: 30px;
}